.App {
	font-family: sans-serif;
	text-align: center;
	color: #001f3f;
	background: linear-gradient(to bottom, #c0f6fb, #003366);
}

.App section {
	display: grid;
	place-items: center;
	margin: 5% 0;
}

#footer_section {
	height: 70px;
	background: snow;
	box-shadow: 0 -0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}

#navbar {
	display: flex;
	align-items: center;
	position: -webkit-sticky;
	position: sticky;
	top: -5px;
	z-index: 5;
	height: 70px;
	min-height: 70px;
	background-color: white;

	backdrop-filter: blur(4px);
	padding: 0 1rem;
	box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 11%);
}
